@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: #133426;
    --yellow: #e5a958;
    --white: #faf5eb;

    --background: #ffffff;
    --foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --popover: #ffffff;
    --popover-foreground: #18181b;

    --border: #133426;
    --input: #d4d4d8;

    --card: #ffffff;
    --card-foreground: #18181b;

    --primary: #1f3d33;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ff0000;
    --destructive-foreground: #fafafa;

    --ring: #a1a1aa;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    @apply overflow-x-hidden;
  }
  body {
    /* @apply bg-background text-foreground; */
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply overflow-x-hidden bg-branding-white text-branding-green;
  }
}

@layer components {
  .tw-transition {
    @apply transition delay-150 ease-in-out;
  }
}
